.characterMenu{
    display: flex;
    flex-direction: column;
}

.characterMenu__name{
    display: flex;
}

.characterMenu__name__input{
    width: 100%;

    font-size: 24px;
    font-weight: 700;

    color: rgb(176, 255, 247);
    text-align: left;
    padding: 0 5px;
    border-radius: $border-lite;
    margin-right: 5px;
    border: none;
    background: none;
    
    &:focus{
        border: 1px solid #8ed58e;
        outline: none;
    }
}

.characterMenu__name__input--editActive{
    background-color: rgba(199, 199, 199, 0.6);
}

.characterMenu__name__edit{
    width: 34px;
    height: 34px;

    padding: 7px;
    background-color: $main-blue;
    border-radius: $border-lite;
    cursor: pointer;
    
    &:hover{
        opacity: 0.8;
    }

    img{
        width: 20px;
        height: 20px;
    }
}

.characterMenu__avatar{
    width: 100%;
    height: 400px;
    position: relative;

    margin-top: 10px;
    border-radius: $border-medium;
    
    background-size: cover;
    background-image: url(../img/fon.jpg);
    background-repeat: no-repeat;

    h3{
        text-align: center;
        color: rgb(255, 92, 92);
    }
}

.characterMenu__avatar__hero{
    width: 270px;

    margin: auto;
    transform: translateY(70px);
    transition: all 0.4s;
    cursor: none;
    
    &:hover{
        transform: translateY(70px) scale(103%);
    }
}

#sword-id{
    position: absolute;
    display: none;

    z-index: 1000;
    pointer-events: none;
    transition: all 0.4s;
}

.sword-active{
    transform: rotate(-25deg);
}

.characterMenu__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characterMenu__buttons__btn{
    display: inline-block;

    margin: 0 auto;
    padding: 10px 35px;
    color: #fff;
    font-size: 18px;
    border-radius: $border-medium;
    border: none;
    cursor: pointer;
    
    margin-top: 5px;
}

.characterMenu__buttons__btn__inputFile{
    display: none;
}

.btn_save{
    background-color: $main-blue;
    
    &:hover{
        background-color: #3c66d9;
    }
    &:active{
        opacity: 0.8;
    }
}

.btn_load{
    background-color: #519e57;

    &:hover{
        background-color: #348a3b;
    }
    &:active{
        opacity: 0.8;
    }
}